<form [formGroup]="editForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <span for="firstName">First Name</span>
    <input class="form-control" id="firstName" placeholder="" type="text" formControlName="firstName">
  </div>

  <div class="form-group">
    <span for="lastName">Last Name</span>
    <input class="form-control" id="lastName" placeholder="" type="text" formControlName="lastName">
  </div>

  <div class="form-group">
    <span for="country">Country</span>
    <input class="form-control" id="country" placeholder="" type="text" formControlName="country">
  </div>

  <div class="form-group">
    <span for="gender">Gender</span>
    <select class="form-control" id="gender" placeholder="" type="text" formControlName="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>

  <div class="form-group">
    <span for="city">City</span>
    <input class="form-control" id="city" placeholder="" type="text" formControlName="city">
  </div>

  <div class="form-group">
    <span for="address">Addrres</span>
    <input class="form-control" id="address" placeholder="" type="text" formControlName="address">
  </div>

  <div class="form-group">
    <h3>Products</h3>
    <ul>
      <li *ngFor="let product of customerProducts; let i = index"><span>{{i+1}}. {{product.name}}: {{product.price | currency}}<button (click)=deleteProduct(product.id) class="btn btn-outline-danger"><i class="bi bi-trash"></i></button></span></li>
    </ul>
  </div>

  <div class="form-group">
    <span for="products">Add Products</span>
    <select class="form-control" open id="products" formControlName="products" multiple>
      <option *ngFor="let product of this.productsService.products$ | async; let i = index" value="{{product.id}}"><span *ngIf="i!==0">{{i}}. {{product.name}}: {{product.price | currency}}</span></option>
    </select>
  </div>


  <button type="submit" class="btn btn-outline-primary" [disabled]="!editForm.valid">Save</button>
</form>
