<!-- <div class="row" *ngFor="let order of orderDetails">
    <h3>{{order.firstName}} {{order.lastName}}</h3>
        <div class="col-md-6">
          <div class="col-md-12" *ngFor="let name of order.productsNames">
            {{name}}
          </div>
          <hr>
        </div>

        <div class="col-md-6">
          <div class="col-md-12" *ngFor="let price of order.productsPrices">
            {{price | currency}}
          </div>
          <hr>
          <span class="col-md-12">{{order.totalSum | currency}}</span>
        </div>


</div> -->
