<form #addFormEl [formGroup]="addForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <span for="firstName">First Name</span>
    <input class="form-control" id="firstName" placeholder="" type="text" formControlName="firstName">
  </div>

  <div class="form-group">
    <span for="lastName">Last Name</span>
    <input class="form-control" id="lastName" placeholder="" type="text" formControlName="lastName">
  </div>

  <div class="form-group">
    <span for="country">Country</span>
    <input class="form-control" id="country" placeholder="" type="text" formControlName="country">
  </div>

  <div class="form-group">
    <span for="gender">Gender</span>
    <select class="form-control" id="gender" placeholder="" type="text" formControlName="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>

  <div class="form-group">
    <span for="city">City</span>
    <input class="form-control" id="city" placeholder="" type="text" formControlName="city">
  </div>

  <div class="form-group">
    <span for="address">Addrres</span>
    <input class="form-control" id="address" placeholder="" type="text" formControlName="address">
  </div>
  <div class="form-group">

  </div>
  <div class="form-group">
    <span for="products"><h3>Add Products:</h3></span>
    <ng-container *ngFor="let product of this.productsService.products$ | async; let i = index">
      <div *ngIf="i!==0" class="form-check">

        <input class="form-check-input" #productsBoxInput (click)="onToggleBox(productsBoxInput, product.id, quantityInput)" type="checkbox" value="products" id="{{product.name}}">
        <label class="form-check-label" for="{{product.name}}"><span>{{i}}. {{product.name}}: {{product.price | currency}}</span></label>
        <input style="display:none" min=1 value=1 #quantityInput type="number">

      </div>
    </ng-container>
    <!-- <select #productSelect class="form-control" open id="products" formControlName="products" multiple>
      <option #option id="{{product.name}}" (click)="setQuantitySelector(option)" *ngFor="let product of this.productsService.products$ | async; let i = index" value="{{product.id}}"><span *ngIf="i!==0">{{i}}. {{product.name}}: {{product.price | currency}}</span></option>
    </select> -->
  </div>
  <!-- <div #quantityDiv class="form-group">
    <ng-container *ngFor="let product of this.productsService.products$ | async;">
      <span #quantitySpan style="display: none;" id="{{product.id}}" for="product">{{product.name}}
      <input class="form-control" type="number">
    </span>
    </ng-container>
  </div> -->


  <button type="submit" class="btn btn-outline-primary" [disabled]="!addForm.valid">Save</button>
</form>
