<nav class="row main-nav">
  <span class="col-md-2">
    <button (click)="pageView=this.pageService.setPageView('card')" [ngClass]="{ 'active': pageView==='card' }" type="button" class="btn btn-primary">Card View</button>
  </span>
  <span class="col-md-2">
    <button (click)="pageView=this.pageService.setPageView('list')" [ngClass]="{ 'active': pageView==='list' }" type="button" class="btn btn-primary">List View</button>
  </span>
  <span class="col-md-2">
    <a type="button" class="btn btn-primary" routerLink="customers/customer/add">new Customer</a>
  </span>
  <div class="col-md-6">
    <div class="row">
      <span class="col-md-2"><h4>filter:</h4></span>
      <span class="col-md-2"><input type="text"></span>
    </div>
  </div>
</nav>
