<nav class="row main-nav">
  <span class="col-md-2">
    <button (click)="pageView=this.pageService.setPageView('card')" [ngClass]="{ 'active': pageView==='card' }" type="button" class="btn btn-primary">Card View</button>
  </span>
  <span class="col-md-2">
    <button (click)="pageView=this.pageService.setPageView('list')" [ngClass]="{ 'active': pageView==='list' }" type="button" class="btn btn-primary">List View</button>
  </span>
  <span class="col-md-2">
    <a type="button" class="btn btn-primary" routerLink="customers/customer/add">new Customer</a>
  </span>
  <div class="col-md-6">
    <div class="row">
      <h4><label for="customers">Find By Name:</label></h4>
      <input #searchInput (input)=setQuery(searchInput.value) list="customers-list" id="customers" name="customers" />

      <datalist id="customers-list">
          <option *ngFor="let customer of this.customersService.customers$ | async" value="{{customer.firstName}} {{customer.lastName}}">
      </datalist>
    </div>
  </div>
</nav>
