<nav class="row main-nav">
  <span class="col-md-2">
    <a type="button" class="btn btn-primary" routerLink="customers">Card View</a>
  </span>
  <span class="col-md-2">
    <a type="button" class="btn btn-primary" routerLink="customers">List View</a>
  </span>
  <span class="col-md-2">
    <a type="button" class="btn btn-primary" routerLink="customers/customer/add">new Customer</a>
  </span>
  <div class="col-md-6">
    <div class="row">
      <span class="col-md-2"><h4>filter:</h4></span>
      <span class="col-md-2"><input type="text"></span>
    </div>
  </div>
</nav>
