<div class="row">
  <ng-container *ngIf="pageView==='card'">
  <div *ngFor="let customer of this.customerService.customers$ | async | searchFilter: query;" id="customer_card" class="col-md-2">

      <div class="row">
        <span class=col-md-6><h2><a routerLink="customer/view/{{customer.id}}">name: {{customer.firstName}} {{customer.lastName}}</a></h2></span>
        <span class=col-md-6><a routerLink="customer/edit/{{customer.id}}">edit</a></span>
        <button *ngIf="customer.id" (click)=deleteCustomer(customer.id) class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
      </div>
      <div class="row">
        <span class="col-md-5">
          <img *ngIf="customer.gender=='male'" id="customer_img" src="assets/images/male.png" alt="">
          <img *ngIf="customer.gender=='female'" id="customer_img" src="assets/images/female.png" alt="">
        </span>
        <span class="col-md-7">
          <div>countery: {{customer.country}}</div>
          <div>city: {{customer.city}}</div>
          <div><a routerLink="customer/order/{{customer.id}}">View Orders</a></div>
        </span>
      </div>
    </div>
    </ng-container>
    <ng-container *ngIf="pageView==='list'">
        <table #table>
          <tr>
            <th></th>
            <th><button (click)="setSortingBy('firstName')" class="sortButton" type="button">First Name</button></th>
            <th><button (click)="setSortingBy('lastName')" class="sortButton" >Last Name</button></th>
            <th><button (click)="setSortingBy('gender')" class="sortButton" >Gender</button></th>
            <th><button (click)="setSortingBy('address')" class="sortButton" type="button">Address</button></th>
            <th><button (click)="setSortingBy('city')" class="sortButton" type="button">City</button></th>
            <th><button (click)="setSortingBy('country')" class="sortButton" type="button">Country</button></th>
            <th><button (click)="setSortingBy('totalSum')" class="sortButton" type="button">Order Total</button></th>
            <th></th>
          </tr>
          <tr *ngFor="let customer of this.customerService.customers$ | async | searchFilter: query | sort: sortBy[1]:sortBy[0]; let i = index">
            <td>
              <img *ngIf="customer.gender=='male'" id="customer_img" src="assets/images/male.png" alt="">
              <img *ngIf="customer.gender=='female'" id="customer_img" src="assets/images/female.png" alt="">
            </td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.gender}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.country}}</td>
            <td *ngIf="customer.id">{{totalSums.get(customer.id) | currency}}</td>
            <td><a routerLink="customer/order/{{customer.id}}">View Orders</a></td>
          </tr>
        </table>
    </ng-container>

</div>
