<div class="row">
  <!-- <h3>{{orderDetails.firstName}} {{orderDetails.lastName}}</h3>
      <div class="col-md-6">
        <div class="col-md-12" *ngFor="let name of orderDetails.productsNames">
          {{name}}
        </div>
        <hr>
      </div>

      <div class="col-md-6">
        <div class="col-md-12" *ngFor="let price of orderDetails.productsPrices">
          {{price | currency}}
        </div>
        <hr>
        <span class="col-md-12">{{orderDetails.totalSum | currency}}</span>
      </div> -->


</div>
